
!!!
html
  head    
    title!= title
    link(rel='stylesheet', href='/stylesheets/reset.css')    
    link(rel='stylesheet', href='/stylesheets/grid.css')
    link(rel='stylesheet', href='/stylesheets/general.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type='text/javascript', src= '/javascripts/jquery-1.7.1.min.js')
    - if (typeof(scripts) != 'undefined')
      each script in scripts 
        script(type='text/javascript', src= script)
        
    |<script type="text/javascript">    
    |	var _gaq = _gaq || [];
    |	_gaq.push(['_setAccount', 'UA-27187705-1']);
    |	_gaq.push(['_trackPageview']);    
    |	(function() {
    |		var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    |		ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    |		var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    |		})();
    |</script>
  body
    div#background
      header
        div.titlebar.shadowed
          div.row 
            a.logo.col.col_6(href="/")
            div.clear
          nav.menubar
            div.row
              ul.col.col_16 
                li.first
                  a(href="/") Volver a la búsqueda
                li
                  a(href="http://www.itknowingness.com", target="_blank") Blog
                li
                  a(href="http://jaimeramirez.heroku.com", target="_blank") @jramcast
            div.clear

    
      section#main.row.main!= body
    
    div#footer_shadow.shadowed
      footer
        div.row
          div.col.col_5
            h4 En la cocina
            ul#footer_copyright
              li 
                a(href="http://jaimeramirez.heroku.com", target="_blank") Jaime Ramírez 
                span de 
                a(href="http://www.itknowingness.com", target="_blank") ITKnowingness
              li 
                a(href="http://twitter.com/jramcast", target="_blank") @jramcast
              li
                a(href="http://twitter.com/itknowingness", target="_blank")@itknowingess
                
          div.col.col_4
            h4 Utensilios
            ul#footer_technologies_list
              li
                a(href="http://nodejs.org/", target="_blank") NodeJS
              li
                a(href="http://expressjs.com/", target="_blank") Express
              li
                a(href="http://socket.io/", target="_blank") Socket.io
          div.col.col_5
            h4 Ingredientes
            p 
            |La 
            |información sobre localizaciones y estaciones meteorológicas 
            |viene a través de las APIS de <a target='_blank' href='http://www.wunderground.com'>Weather Undeground</a> 
            |y <a target='_blank' href='http://www.geonames.org/'>Geonames</a>. 
            |La Streaming API de Twitter provee los comentarios en tiempo real.