|<div id="fb-root"></div>
|<script>(function(d, s, id) {
|  var js, fjs = d.getElementsByTagName(s)[0];
|  if (d.getElementById(id)) return;
|  js = d.createElement(s); js.id = id;
|  js.src = "//connect.facebook.net/en_GB/all.js#xfbml=1";
|  fjs.parentNode.insertBefore(js, fjs);
|}(document, 'script', 'facebook-jssdk'));</script>


div#app_info.box.hide 
  p  Una cosa: Nubloo está en fases tempranas de desarrollo y es posible que tenga comportamientos erróneos. 
    | Os animo a que me hagáis llegar cualquier crítica, sugerencia, apoyo con el desarrollo, o lo que se os ocurra a
    |  <a target="_blank" href="http://twitter.com/jramcast">@jramcast</a>. Toda ayuda es bienvenida! :)

h2#place_info Buscando  
 span#search_string!= place
 span.dots  
 
div#other_results.width_8.hide.box.shadowed
  p(onclick='Places.showOtherResults();') ¿No es lo que andabas buscando? Mira otros resultados
  ul

div.clear
div.col 
  div#status
div.clear
section     
  div#place_info  
  div#twitter_stream_box.col.col_10.box.shadowed.hide
    h3 Lo que se dice en la zona
    div#publicationInputArea
      input(type='text', id='publicationInputBox', placeholder='comenta el tiempo con las personas de los alrededores!')
      input(type='button', id='user_publication_button', value='Publicar')
      div#nearby
    div#publications-stream
      div#waiting_message.publication Esperando nuevas noticias
        span.dots
      ul#publications
        
  
  div#weather_box.col.col_6.hide.box.shadowed
    div.row
      h3 El tiempo ahora
      div#weather_observation
    div.row
      h3 Otras estaciones cercanas   
      ul#weather_stations_list
    div.row
      h3 Difunde!
      div#plugins_area
        |<div class="fb-like-box" data-href="http://www.facebook.com/pages/Nuublo/290554650983657" data-width="320" data-show-faces="true" data-border-color="#efefef" data-stream="false" data-header="true"></div>


